App/GarageSale/GarageSale/GarageSale/Service References/YardSaleServiceRefrence/YardSaleService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9617/YardSaleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/yardSaleWCF" />
  <xs:element name="createUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/yardSaleWCF" minOccurs="0" name="user" nillable="true" type="q1:userWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateUserActivityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateUserActivityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/yardSaleWCF" minOccurs="0" name="comment" nillable="true" type="q2:commentWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/yardSaleWCF" minOccurs="0" name="item" nillable="true" type="q3:itemWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/yardSaleWCF" minOccurs="0" name="getAllItemsResult" nillable="true" type="q4:ArrayOfitemWCF" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>