App/GarageSale/GarageSale/GarageSale/Service References/YardSaleServiceRefrence/YardSaleService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="YardSaleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9617/YardSaleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9617/YardSaleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9617/YardSaleService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/yardSaleWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IYardSale_createUser_InputMessage">
    <wsdl:part name="parameters" element="tns:createUser" />
  </wsdl:message>
  <wsdl:message name="IYardSale_createUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:createUserResponse" />
  </wsdl:message>
  <wsdl:message name="IYardSale_updateUserActivity_InputMessage">
    <wsdl:part name="parameters" element="tns:updateUserActivity" />
  </wsdl:message>
  <wsdl:message name="IYardSale_updateUserActivity_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateUserActivityResponse" />
  </wsdl:message>
  <wsdl:message name="IYardSale_addComment_InputMessage">
    <wsdl:part name="parameters" element="tns:addComment" />
  </wsdl:message>
  <wsdl:message name="IYardSale_addComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:addCommentResponse" />
  </wsdl:message>
  <wsdl:message name="IYardSale_addItem_InputMessage">
    <wsdl:part name="parameters" element="tns:addItem" />
  </wsdl:message>
  <wsdl:message name="IYardSale_addItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:addItemResponse" />
  </wsdl:message>
  <wsdl:message name="IYardSale_getAllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllItems" />
  </wsdl:message>
  <wsdl:message name="IYardSale_getAllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllItemsResponse" />
  </wsdl:message>
  <wsdl:portType name="IYardSale">
    <wsdl:operation name="createUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IYardSale/createUser" message="tns:IYardSale_createUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYardSale/createUserResponse" message="tns:IYardSale_createUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateUserActivity">
      <wsdl:input wsaw:Action="http://tempuri.org/IYardSale/updateUserActivity" message="tns:IYardSale_updateUserActivity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYardSale/updateUserActivityResponse" message="tns:IYardSale_updateUserActivity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <wsdl:input wsaw:Action="http://tempuri.org/IYardSale/addComment" message="tns:IYardSale_addComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYardSale/addCommentResponse" message="tns:IYardSale_addComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IYardSale/addItem" message="tns:IYardSale_addItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYardSale/addItemResponse" message="tns:IYardSale_addItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IYardSale/getAllItems" message="tns:IYardSale_getAllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IYardSale/getAllItemsResponse" message="tns:IYardSale_getAllItems_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IYardSale" type="tns:IYardSale">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createUser">
      <soap:operation soapAction="http://tempuri.org/IYardSale/createUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUserActivity">
      <soap:operation soapAction="http://tempuri.org/IYardSale/updateUserActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addComment">
      <soap:operation soapAction="http://tempuri.org/IYardSale/addComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItem">
      <soap:operation soapAction="http://tempuri.org/IYardSale/addItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllItems">
      <soap:operation soapAction="http://tempuri.org/IYardSale/getAllItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YardSaleService">
    <wsdl:port name="BasicHttpBinding_IYardSale" binding="tns:BasicHttpBinding_IYardSale">
      <soap:address location="http://localhost:9617/YardSaleService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>