App/GarageSale/GarageSale/GarageSale/Service References/YardSaleServiceRefrence/YardSaleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/yardSaleWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/yardSaleWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="userWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pic_url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userWCF" nillable="true" type="tns:userWCF" />
  <xs:complexType name="commentWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date_added" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="item_id" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="commentWCF" nillable="true" type="tns:commentWCF" />
  <xs:complexType name="itemWCF">
    <xs:sequence>
      <xs:element minOccurs="0" name="date_added" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="owner_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pic_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:float" />
      <xs:element minOccurs="0" name="quality" type="xs:float" />
      <xs:element minOccurs="0" name="sold" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="itemWCF" nillable="true" type="tns:itemWCF" />
  <xs:complexType name="ArrayOfitemWCF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="itemWCF" nillable="true" type="tns:itemWCF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfitemWCF" nillable="true" type="tns:ArrayOfitemWCF" />
</xs:schema>